<!DOCTYPE html>
<html>

<h1>Hello app</h1>
<a href="{% url 'contents' %}" style='font-size:2em'>Contents</a>
<br>
<a href="{% url 'signup' %}" style='font-size:2em'>s</a>
<hr>

{% block content %}
{% if user.is_authenticated %}
    <p><a href="{% url 'logout' %}">logout</a></p>
    <br>
    <br>
    <h2>Talks 2018-2019</h2>
    <br>
    <a href="{% url 'omilia1' %}" style='font-size:1.5em'>Talk 1</a>
    <br>
    <a href="{% url 'omilia2' %}" style='font-size:1.5em'>Talk 2</a>
    <br>
    <a href="{% url 'omilia3' %}" style='font-size:1.5em'>Talk 3</a>
    <br>
    <a href="{% url 'omilia4' %}" style='font-size:1.5em'>Talk 4</a>
    <br>
    <a href="{% url 'omilia5' %}" style='font-size:1.5em'>Talk 5</a>
    <br>
    <a href="{% url 'omilia6' %}" style='font-size:1.5em'>Talk 6</a>
    <br>
    <a href="{% url 'omilia7' %}" style='font-size:1.5em'>Talk 7</a>
    <br>
    <br>
    <a href="{% url 'text' %}" style='font-size:2em'>Talks 2019-2020</a>
    <br>
    <br>
    <a href="{% url 'kyrhgmata' %}" style='font-size:2em'>Additional material</a>

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
</body>
</html>
