{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <div class="container">

  <h2>Ομιλία 1</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20190804091714.ogg" type="audio/ogg">
  </audio>

  <h2>Ομιλία 2</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20190929092848.ogg" type="audio/ogg">
  </audio>

  <h2>Ομιλία 3</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20191028092737.ogg" type="audio/ogg">
  </audio>

  <h2>Ομιλία 4</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20191115003323.ogg" type="audio/ogg">
  </audio>

  <h2>Ομιλία 5</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20191201092712.ogg" type="audio/ogg">
  </audio>

  <h2>Ομιλία 6</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20200105090449.ogg" type="audio/ogg">
  </audio>

  <h2>Ομιλία 7</h2>

  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/kyrhgmata/R20200216093604.ogg" type="audio/ogg">
  </audio>

</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url '/accounts/login' %}">login</a>
{% endif %}
{% endblock %}