{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <div class="container">


  <h2>Ομιλία 1</h2>
  <h3>Η Ανάσταση του Λαζάρου</h3>

  <img src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/omilia1.JPG"/>
  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/REC001.WAV" type="audio/wav">
  </audio>

  <ul>

  <h4>Περίληψη</h4>

  <h4>1. Τη Δεύτερη Παρουσία πρέπει να την περιμένουμε με χαρά, όχι με τρόμο. Και την πρώτη παρουσία ο κόσμος της Παλαιάς Διαθήκης την περίμεναν με χαρά για την σωτηρία. 
    Στην Αποκάλυψη η σχέση μας με τον Θεό γίνεται ένα, όπως η νύφη έχει λαχτάρα να συναντάει το γαμπρό. Αυτή είναι η κατάσταση της προσμονής. Γιατί οι καλόγεροι πενθούν; Δεν πενθούν για τις αμαρτίες τους,
    πενθούν γιατί ακόμα είναι σ'αυτή τη ζωή. Ακόμα ξέρουμε ότι ο Λάζαρος από τότε που αναστήθηκε δεν χαμογέλασε ποτέ. Όπως λέγει ο Αγ. Ιωάννης ο Χρυσόστομος, όταν βγαίνει η ψυχή σου από το σώμα σου αλλάζει η κοσμογονία και
    αρχίζεις να αναρωτιέσαι γιατί αγωνίστηκες στην ζωή σου, γιατί ταλαιπωρήθηκες τόσο. Όταν γεννήθηκε ο Χριστός είπαν οι άγγελοι 'Δόξα εν υψίστοις Θεώ και επι γης ειρήνη εν ανθρώποις ευδοκία, με την ίδια ευδοκία να περιμένουμε.</h4>
  <h4>2. Το κριτήριο της Κρίσεως είναι ο καταδικασμένος σε πλημέλημα, ο φτωχός, ο πρόσφυγας. Σήμερα δεν είναι υπάρχει πρόσωπο, όλη η ζωή μας είναι δείκτες (δείκτες οικονομίας για την ΕΕ, δείκτες οικονομίας για τις τράπεζες). Είμαστε αριθμοί. 
    Το κριτήριο του Θεού είναι άλλο, αυτός ο ασήμαντος άνθρωπος είναι Θεός, είναι πρόσωπο και είναι Θεός. </h4>
  <h4>3. Η κρίση είναι ότι εμείς αυτοκτονούμε, τα έργα μας, η κατάσταση μας μας κάνουν να αυτοκτονούμε. Ένα πράγμα είναι ο Ερχομός εν δόξοις. Αυτό είναι που αλλάζει, γιατί όταν είναι εν δόξοις, είναι το φώς. Και αυτή την εικόνα που λέει ο Αγ. Γρηγόριος Νύσσης,
    το μάτι το βλαμμένο όταν βλέπει το φώς πονάει, όπως και η ακάρθατη ψυχή δε μπορεί να δει τη δόξα πονάει. Η καθαρή ψυχή, το μάτι το υγιές βλέπει τη δόξα και δεν πονάει και χαίρεται και αυτό είναι ο Παράδεισος.</h4>

  <h4>4. Τι σημαίνει η Ανάσταση του Λαζάρου; Βγαίνει ο Χριστός από την δράση του και μπαίνει σε μια ενότητα καινούργια, την ενότητα των παθών του Χριστού. Τα γεγονότα του Πάθους και την Ανάστασης αρχίζουν με την έγερση του Λαζάρου.</h4>
  <h4>5. Μόνο ο Ιωάννης αναφέρει την έγερση του Λαζάρου, γιατί τα άλλα βιβλία γράφτηκαν όταν έγινε το θαύμα, σε εκείνη την εποχή. Και το θαύμα είχε αντίλαλο μεγάλο και δεν το ανέφεραν.</h4>
  <h4>6. Η ανάσταση του Λαζάρου είναι η κοινή ανάσταση των πιστών που είναι φίλος τους ο Χριστός.</h4>
  <h4>7. Έγιναν αναστάσεις στη Παλαιά Διαθήκη, στη Καινή Διαθήκη και στις Πράξεις των Αποστόλων. Αυτές οι αναστάσεις είναι όλες παράταση της ζωής, θα ζήσουν λίγο αλλά μετά θα πεθάνουν.</h4>
  <h4>8. Η σκέψη του θανάτου για τους Ιουδαίους είναι περίπου η ίδια με τους Έλληνες. Ελευθερώνεται η ψυχή από το σώμα που είναι φυλακή, και ενώνεται με τη θεική αθανασία. Η βιβλική παράδοση λέει ότι ο άνθρωπος πεθαίνει και ζεί μόνο με τη σχέση του με τον Θεό (με την ένωσή του με τον Χριστό).</h4>
  <h4>9. Ο Λάζαρος είχε ίδια ηλικία με τον Χριστό, 30 χρονών. Όταν αναστήθηκε έμεινε 30 χρονών και πέθανε μετά. Κατά την παράσοδη με τον διωγμό το 44μΧ έφυγε από την Παλαιστίνη και πήγε στην Κύπρο και έκανε στην εκκλησία του Κίκκου. </h4>
  <h4>10. Λάζαρ στα εβραικά σημαίνει "Θεός βοηθός" και Βηθσθαιδά είναι στα εβραικά "Οίκος της φτώχειας/θλίψεως". Οι Μάρθα και Μαρία ακολουθούσαν το Χριστό. Η Μάρθα ήταν εξωστρεφής άνθρωπος, την ενδιέφερε το κοινωνικό έργο. Η Μαρία ήταν παρά τους πόδας του Ιησού, την ενδιεφερε η λατρεία. Η λατρεία δεν αναιρεί το εξωτερικό έργο, αλλά το εξωτερικό έργο γίνεται αποτέλεσμα.</h4>  
  <h4>11. "Ο Λάζαρος ο αγαπημένος σου είναι ασθενής.", "Τον δούλο μου το Μωυσή, πρόσωπο με πρόσωπο τον μιλώ, γιατί τον αγαπάω και είναι φίλος.": Όπου υπάρχει σχέση με το Θεό τότε είναι φίλος. O φίλος είναι με τον Θεό, δεν είναι η ανθρώπινη φιλία.</h4>
  <h4>12. Η ανάσταση του Λαζάρου είναι κοινή ανάσταση όλων των νεκρών γιατί ο Θεός αγαπάει όλους, αλλά με το Λάζαρο δίνει έναν συμβολισμό. Ο λαός του Θεού που είναι φίλος του Χριστού και είναι σε κατάσταση "Θεέ μου βοήθα" θα αναστηθεί.</h4>
  <h4>13. H ανθρωπότητα ήταν σε φθορά και θάνατο και γι'αυτό ενσαρκώθηκε ο Χριστός, ενσαρκώθηκε γι'αυτή την αρρώστεια. Γι'αυτό μπορούμε να καταλαβαίνουμε πως θα δούμε τη δόξα του Θεού, όταν θα εξαλείψει την ασθένεια και τον θάνατο.</h4>
  <h4>14. H αγάπη του Χριστού προς τον Λάζαρο έκανε να αγαπάει και τους συγγενείς του. Μήπως εμείς δεν έχουμε τόσο καλή σχέση με το Χριστό για να αγαπάει τους συγγενείς μας; Όπως οι φίλοι του παραλυτικού που τον βάλανε μπροστά στο Χριστό και τον θεράπευσε;</h4>
  <h4>15. Ο Χριστός είχε φύγει από τον Ιορδάνη ποταμό γιατί τον κυνηγούσαν οι Ιουδαίοι. Τον ρωτάνε οι μαθητές του γιατί να γυρίσουμε πάλι εκεί; Ο Χριστός απαντά ότι την ημέρα είναι ασφαλές να γυρίσουν. Τι έννοια έχει η μέρα. Η μέρα Κυρίου είναι η μέρα που θα γίνει το Πάθος και η Ανάσταση.</h4>
  <h4>16. O Χριστός είπε ότι ο Λάζαρος κοιμήθηκε. Μετά από τέσσερις μέρες πήγε από κει. Κατά την εβραική παράδοση οι φίλοι του νεκρού μένουν στο σπίτι επτά μέρες. Κατά την ρωμαίικη παράδοση μένουν τρεις ημέρες. Η πόλη ήταν 3χμ ανατολικά της Ιερουσαλήμ.</h4>
  <h4>17. H Μάρθα και η Μαρία άκουσαν ότι ήρθε και έτρεξαν προς τον Ιησού. Η Μάρθα είχε ελπίδα στο πρόσωπο του Χριστού, δεν είχε ελπίδα ότι θα τον αναστήσει ("Αν ησουν εδώ ο Λάζαρος δε θα είχε πεθάνει"). Μετά του λέει ότι μυρίζει, γιατί ήταν η τέταρτη ημέρα από τότε που πέθανε. Κατά τη δική μας παράδοση η ψυχή του νεκρού μένει τρεις μέρες στο σπίτι του, όταν αρχίσει η αποσύνθεση έχει φύγει η ψύχη. Και όλα τα θαύματα που έγιναν, έγιναν όταν ο άνθρωπος ήταν φρεσκοπεθαμένος, μέχρι τριήμερο. Όταν ο Χριστός λέει στη Μάρθα ότι θα αναστηθεί, του απαντά ότι ξέρει πως θα αναστηθεί στη Δεύτερη Παρουσία. Αυτός ο διάλογος γίνεται μπροστά στον κόσμο, και δεν ήταν όλοι πιστοί στον Χριστό. Και αυτός ο κόσμος άκουσε και έβλεπε όλα τα γεγονότα.</h4>
  <h4>18. Η παρουσία του Χριστού στον κόσμο έφερε την ανατροπή γιατί από το θάνατο και τη φθορά έφερε ζωή και ανάσταση. Έκανε τον θάνατο την πόρτα για την αιώνια ζωή.</h4>
  <h4>19. H Μαρία γονατίζει στους πόδας του Ιησού δείχνοντας τη λατρεία της. Ενεβριμήσατο το πνεύμα του Ιησού, αγανάκτησε με πολύ πόνο. Όταν είδε τον θάνατο αγανάκτησε ο Χριστός. Όταν συνάντησε την ανθρώπινη κατάσταση πριν το θάνατό του είπε "Θεέ μου η ψυχή μου είναι βαριά". Είναι η συνάντηση της ζωής με τον θάνατο, είναι μια οντολογική πάλη γεννημένη από αγάπη. Όταν αγαπάτε κάποιον και τον βλέπετε να υποφέρει σε ποια κατάσταση ψυχική θα είστε, και σωματική;</h4>
  <h4>20. O Χριστός ζητάει να ανοίξουν τον τάφο του Λαζάρου. Πρώτα από όλα ευχαριστεί τον Θεό. Γιατί σε όλα τα έργα του Ιησού δεν ήταν μόνος του, ήταν συμμετοχή του Τριαδικού Θεού. Μετά λέει με κραυγή "Λάζαρε δεύρο έξω".  Δεύρο έξω δείχνει την εξουσία του Θεού, η κραυγή του για να φτάσει το φύσημα μέχρι τον Αδη και να αναπλάσει τον άνθρωπο όπως στη πρώτη δημιουργία του κόσμου. Για την συναρμολόγηση της φύσης του ανθρώπου από την αρχή λέει ο άγιος Ιωάννης ο Χρυσόστομος "όπου γαρ βούλεται ο Θεός νικάτε φύσεως τάξης".</h4>
  <h4>21. Yπάρχει διαφορά ανάμεσα στην Ανάσταση του Χριστού και την ανάσταση του Λαζάρου. Λέει ο Καιάφας ότι συμφέρει να πεθάνει ένας αντι πολλών. Και αυτό έγινε, να πεθάνει και να συνάξει την οικουμενική θρησκεία όχι την εθνική.</h4>

</ul>


</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url '/accounts/login' %}">login</a>
{% endif %}
{% endblock %}