{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <div class="container">

<h2>Ομιλία 2</h2>
<h3>Η Είσοδος του Χριστού στα Ιεροσόλυμα</h3>

 
  <img src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/omilia2.JPG"/>
  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/REC004.WAV" type="audio/wav">
  </audio>

<ul>

  <h4>Περίληψη</h4>
  
  <h4>1. Αυτό το κεφάλαιο θα μας μιλήσει για το τραπέζι που κάνουν για το Χριστό μετά την ανάσταση του Λαζάρου, την είσοδο στα Ιεροσόλυμα, τον τρόπο που θα πεθάνει, τη δίκη του και την απιστία των Ιουδαίων.</h4>
  <h4>2. Στο τραπέζι μετα την έγερση του Λαζάρου: Ο Λάζαρος εκπροσωπώντας όλους τους κεκοιμημένους που είναι φίλοι του Χριστού, είναι παρών στο τραπέζι της Ουρανίου Βασιλείας. Σε εκείνο το δείπνο μερικοί θα είναι υπηρέτες (η Μαρία υπηρετεί, 
    τελετουργικά προετοιμάζει για τον τάφο του Χριστού). Η Μαρία παίρνει το πολύτιμο μύρο και αλοίφει τους πόδας του Ιησού. Αντί της δυσοσμίας του θανάτου, αρχίζει και απλώνεται η ευωδία στο σπίτι. 
    Αυτή η τελετουργία μας θυμίζει τη Θεία Λειτουργία, ο παπάς μπροστά στα Τίμια Δώρα λέει "εις οσμήν ευωδίας πνευματικής αντικαταπέμψει". Και εδώ η Μαρία αντικαταπέμπει στην θυσία του Χριστού ευωδία 
    πνευματική. Αυτή την ευωδία την βλέπουμε στην Παλαιά Διαθήκη, στη θυσία του Μωησή και του Νώε όπου δίνουν τη θυσία ως ευωδία ευάρεστη στον Θεό.</h4>
  <h4>3. Ο Ιούδας ο Ισκαριώτης ρωτά γιατί σπαταλήθηκε το μύρο και δεν δόθηκε στους φτωχούς. Ο Ιωάννης ονομάζει τον Ιούδα κλέφτη και το περιέργο είναι ότι ενώ ξέραν ότι είναι κλέφτης άφησαν το πουγκί μαζί του, 
    για την πορεία της σωτηρίας. Όπως πέρασαν πολλά χρόνια μέχρι να βρεθεί άνθρωπος να δεχτεί τον Χριστό μέσα του (η Παναγία) έτσι και για να βρεθεί άνθρωπος φιλοχρήματος ικανός να προδώσει τον Χριστό. Εμείς κοιτάμε τα πράγματα δικονομικά, ποιος έχει δίκιο, 
    δεν σκεφτόμαστε η σωτηρία πως είναι. Ειδικά αυτή την επόχη πέφτουμε πολλές φορές γιατί κάνουμε τις δουλειές μας με αντιδικία, εκδικητικότητα. Και στην εσωτερική αναμπουμπούλα υπάρχει μόνο ο σατανάς.</h4>
  <h4>4. Μερικές φορές συγχέεται ότι αυτή η άλοιψη των πόδων του Ιησού με μύρο έγινε από την αμαρτωλή γυναίκα αντί από τη Μαρία. Η άλοιψη των πόδων του Ιησού από την αμαρτωλή γυναίκα έγινε νωρίτερα χρονικά στο σπίτι του φαρισαίου Σίμωνα.
    Και οι δύο αυτές κινήσεις δείχνουν μεγάλη αφοσίωση στον Θεό και τη σχέση της νύμφης Εκκλησίας με τον Νυμφίο. Στο σπίτι του Σίμωνα η γυναίκα δεν έριξε μονάχα μύρο αλλα και δάκρυα.</h4>
  <h4>5. "Τους φτωχούς πάντοτε θα τους έχετε, εμένα δεν θα με έχετε πάντοτε." Το σημαντικό είναι ες αει (δια του Αγίου Πνεύματος) να έχουμε το Χριστό.</h4>
  <h4>6. Στα Ιεροσόλυμα την εποχή εκείνη ήταν η γιορτή του Πάσχα και είχε 25,000 κατοίκους. Πενταπλάσιοι ήταν οι προσκηνυτές. Όλοι που άκουσαν για την έγερση έρχονταν να δουν το Λάζαρο και να ακούσουν από τους μάρτυρες. 
    Αυτό ήταν πρόβλημα για τους άρχοντες των Ιουδαίων γι'αυτό ήθελαν να σκοτώσουν και το Λάζαρο.</h4>
  <h4>7. Η είσοδος του Χριστού στα Ιεροσόλυμα τελετουργικά σημαίνει την είσοδο στην Θεία Λειτουργία. Ο Χριστός ανέβηκε πάνω στο γαιδούρι, δείχνοντας την θριαβευτική είσοδο του ως Επουράνιος βασιλιάς. Στη γλώσσα των Εβραίων όταν ο βασιλιάς ιππεύει άλογο 
    φοβούνται γιατί σημαίνει πόλεμο, ενώ όταν ιππεύει όνο χαίρονται όλοι γιατί δηλώνει ειρήνη. Ιερουσαλήμ μεταφράζεται ως "η πόλη της ειρήνης", ειρήνη του ανθρώπου με το Θεό.</h4>
  <h4>8. Οι Έλληνες ζητούν να δουν τον Ιησού. Ο Χριστός απάντησε ότι ήρθε η ώρα να δοξασθεί το όνομα του Θεού. Οι Έλληνες μιλούσαν την Ελληνιστική γλώσσα, η οποία ήταν εκείνη την εποχή η παγκόσμια γλώσσα. Από εκείνη τη στιγμή πήρε η χριστιανική θρησκεί τον οικουμενικό χαρακτήρα.
    Σε αυτή τη γλώσσα έγινε η εξάπλωση της βαθιάς ορθόδοξης θεολογίας, η φιλοσοφική σκέψη έγινε δοχείο για να μεταφέρουν τη χριστιανική σκέψη. Εμείς οι ορθόδοξοι είμαστε υπηρέτες της σωτηρίας με τον πολιτισμό, γλώσσα, τον τρόπο ζωής μας. Ο ρόλος μας στην Ευρώπη είναι να μεταλαμπαδεύουμε 
    την Ορθοδοξία στους Ευρωπαίους και είναι βάρος ευθύνης και διακονίας.</h4>

</ul>

</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url '/accounts/login' %}">login</a>
{% endif %}
{% endblock %}