{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <div class="container">

<h2>Ομιλία 7</h2>
<h3>Η επίσκεψη του Χριστού στους μαθητές μετά την Ανάσταση</h3>
    
  <img src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/omilia7.jpg"/>
  <audio controls>
    <source src="https://omilies-kyklos.s3.eu-west-2.amazonaws.com/static/REC009.WAV" type="audio/wav">
  </audio>


</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url '/accounts/login' %}">login</a>
{% endif %}
{% endblock %}