{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">logout</a></p>
  <div class="container">


  <h2>Talk 1</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/mp3">
  </audio>

  <h2>Talk 2</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/ogg">
  </audio>

  <h2>Talk 3</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/mp4">
  </audio>

  <h2>Talk 4</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/mp4">
  </audio>

  <h2>Talk 5</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/mp4">
  </audio>

  <h2>Talk 6</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/mp4">
  </audio>

  <h2>Talk 7</h2>

  <audio controls>
    <source src="https://xxxxxxx.s3.eu-west-2.amazonaws.com/static/xxxxx.mp3" type="audio/mp4">
  </audio>

</div>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url '/accounts/login' %}">login</a>
{% endif %}
{% endblock %}
